<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>CRUD</title>
  </head>
  <body>
    {% include 'header.html' %}
    

    <!-- form here========================== -->
<div class="coontainer-fluid">
  <div class="row py-3">
    <div class="col-4 m-auto shadow text-center">
      <h3 class="text-info text-center pb-3">Update this profile.......</h3>
      <form  method='post'>
        {% csrf_token %}
        <div class="form-floating mb-3">
          {{form.name}}
          <label for="floatingname">name</label>
        </div>
        <div class="form-floating mb-3">
          {{form.email}}
          <label for="floatingemail">Email ID</label>
        </div>
        <div class="form-floating mb-3">
          {{form.mobileNO}}
          <label for="floatingmobile">Mobile NO </label>
        </div>
        <div class="form-floating mb-3">
          {{form.city}}
          <label for="floatingcity">City</label>
        </div>
        <div class="mb-3 w-100">
          <a href="{% url 'allRecords' %}"><button type="button" class="btn btn-success w-25 "> Cencal</button></a>
          <button type="submit" class="btn btn-success w-25 me-auto "> Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>